* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 500px;
    height: 700px;
    background-image: url(https://img.freepik.com/free-photo/portrait-smiling-woman-pointing-her-t-shirt-with-whatsapp-icon_23-2147849418.jpg?t=st=1714105523~exp=1714109123~hmac=17ec2e31ce35281c83193d97d69457bfc6e21467912a07203626fbda3e964ab5&w=900);
    background-size: cover;

}

.main-chat {
    width: 100%;
    height: 40px;
    background-color:#323f4b ;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

.text1 {
    width: 95%;
    height: 40px;
    background-color:#1469b35b ;
    /* color: white; */
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: flex-end;
    margin: 20px auto;
    border-radius:10px 10px 0px 10px;
    font-weight: bolder;

}

.text2 {
    width: 95%;
    height: 40px;
    background-color:#2b874455;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: flex-start;
    margin: 20px auto;
    border-radius: 10px 10px 10px 0;
    font-weight: bold;
}